/* -------------RESETS------------- */
/Resets are used for overwriting default html tag properties/ * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
  background-color: var(--brown);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* --------------------------container-------------------------- */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem;
}

/* --------------------------header-------------------------- */
.header {
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: 9999;
}

.header .header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .branding {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.header .branding h3 {
  color: var(--light);
  font-size: 2.5rem;
  font-weight: bold;
}

.header .header_nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header .header_nav ul li a{
  transition: 0.5s ease;
}

.header .bilog {
  width: 5rem;
  height: 5rem;
  background-color: var(--primary);
  border-radius: 20rem;
}

.header .header_nav ul li a {
  color: var(--light);
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header .header_nav ul li a:hover {
  color: var(--primary);
  text-decoration: underline;
}

@media screen and (max-width: 500px){
  .header .header_nav{
    display: none;
  }
  .header .bilog{
    display: none;
  }
  .header .branding{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    background: var(--gray);
    padding: 1rem;
    border-radius: 3rem;
  }
}
/* --------------------------banner-------------------------- */
.banner {
  padding-top: 13rem;
  padding-bottom: 3rem;
  min-height: 800px;
  background: var(--brown);
  position: relative;
  z-index: 0;
}

.banner::after {
  content: "";
  width: 80vw;
  height: 800px;
  display: block;
  position: absolute;
  background: var(--dark);
  top: -25rem;
  right: 0;
  clip-path: circle(50% at 72% 0);
}

.banner .container {
  position: relative;
}

.banner .contact_us{
  color: var(--light);
  background: var(--primary);
  padding: 1rem 2rem;
  position: absolute;
  right: -38rem;
  top: 25rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: 15;
  transform: rotate(-90deg);
  width: fit-content;
}

.banner .banner_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  align-items: center;
}

.banner .banner_text {
  padding-left: 11.5rem;
  width: 100%;
  border-radius: 1rem;
}

.banner .banner_text h1 {
  color: var(--light);
  font-weight: bold;
  font-size: clamp(3rem, 10vw, 6.5rem);
  max-width: 50rem;
  line-height: 6rem;
}

.banner .banner_text h1 span {
  color: var(--primary);
}

.banner .banner_text p {
  color: var(--light);
  margin: 3rem 0;
  max-width: 40rem;
  text-align: justify;
}

.banner .banner_img {
  position: relative;
}
.banner .banner_img img {
  position: relative;
  z-index: 2;
}

.banner .banner_img::after {
  content: "";
  width: 65rem;
  height: 65rem;
  border-radius: 50rem;
  background-color: var(--gray);
  opacity: 0.5;
  position: absolute;
  display: block;
  top: -5rem;
  right: 0rem;
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .banner{
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner .banner_wrapper {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 1fr;
  }
  
  .banner .banner_wrapper img{
    margin: 0 auto;
  }

  .banner .banner_text {
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }

  .banner::after{
    display: none;
  }
  
  .banner .banner_img{
    display: none;
  }

  .banner .banner_img::after {
    display: none;
  }

  .banner .banner_text p{
    margin: 0 auto;
  }

  .banner .contact_us{
    right: -5rem;
    top: 0;
  }

}

/* --------------------------about-------------------------- */
.abt {
  padding: 5rem 0;
  background: var(--brown);
}

.abt .abt_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}

.abt p {
  color: var(--light);
  text-align: justify;
  margin-bottom: 3rem;
}

.abt a {
  width: fit-content;
}

.abt h3 {
  color: var(--primary);
  font-size: clamp(1.5rem, 10vw, 3.5rem);
  font-weight: bold;
  padding-left: 8rem;
}

.abt .abt_img {
  position: relative;
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;

}

.abt .abt_img img{   
  transition: 0.5s ease;
}


.abt .abt_img img:hover {
  scale: 1.1;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 500px) {
  .abt .abt_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .abt .abt_img {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    grid-gap: 2rem;
  }

  .abt h3 {
    padding-left: 0;
    text-align: center;
  }
}

/* -------------------------------programs------------------------------- */

.programs .programs_wrapper {
  display: flex;
  gap: 10rem;
  margin-top: 15rem;
}

.programs .programs_wrapper .programs_text {
  display: flex;
  width: 100rem;
  flex-direction: column;
  gap: 1.5rem;
}

.programs .programs_wrapper .programs_text h3 {
  color: var(--primary);
  font-size: clamp(1rem, 10vw, 2rem);
  font-weight: bold;
}

.programs .programs_wrapper .programs_text h2 {
  color: var(--light);
  font-size: clamp(2rem, 50vw, 3.5rem);
  font-weight: bold;
  max-width: 40rem;
}

.programs .programs_wrapper .programs_text img {
  width: 25rem;
}

.programs .programs_wrapper .programs_p {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.programs .programs_wrapper .programs_p p {
  color: var(--light);
  text-align: justify;
}

.programs .programs_wrapper .programs_p .p_bold {
  color: var(--light);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: justify;
}

.programs .programs_wrapper .programs_p .p_bold1 {
  color: var(--light);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: justify;
}

.programs .programs_wrapper .programs_p a {
  width: fit-content;
  margin-bottom: 7rem;
}

@media screen and (max-width: 500px) {
  .programs .programs_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .programs .programs_wrapper .programs_text {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .programs .programs_wrapper .programs_text h3 {
    font-size: clamp(1rem, 10vw, 2rem);
  }

  .programs .programs_wrapper .programs_text h2 {
    font-size: clamp(2rem, 50vw, 3.5rem);
  }

  .programs .programs_wrapper .programs_text img {
    width: 20rem;
  }

  .programs .programs_wrapper .programs_p {
    margin-top: 2rem;
  }

  .programs .programs_wrapper .programs_p .p_bold1 {
    margin-bottom: 1rem;
  }
}

/* ------------------------------events---------------------------- */

.events {
  padding: 0;
  background: var(--gray);
  border-top-right-radius: 20rem;
}

.events h3 {
  color: var(--primary);
  font-size: clamp(1.5rem, 10vw, 3.5rem);
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-weight: bold;
}

.events .events_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5rem;
  margin-bottom: 5rem;
}

.events .events_cards{
  background: #d9d9d9;
  border-radius: 2rem;
  max-height: 50rem;
  overflow: hidden;
}

.events .events_cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.events .events_cards:hover img {
  height: 50%;
  width: 100%;
  transition: 0.5s ease;
}

.events .events_text {
  background: var(--light);
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.events .events_text h4{
  font-weight: bold;
}

.events .events_text a{
  color: var(--primary);
  font-style: italic;
  font-weight: bold;
}

.events .events_card:hover .events_text{
  border-radius: 2rem;
  transform: translateY(50%);
}

@media screen and (max-width: 500px) {
  .events {
    border-top-right-radius: 10rem;
  }
  .events .events_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* ---------------------------------footer--------------------------------- */

.footer {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background: var(--brown);
}

.footer .footer_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light);
}

.footer .footer_input h3 {
  color: var(--primary);
  font-size: clamp(1.5rem, 10vw, 3.5rem);
  font-weight: bold;
  margin-bottom: 2rem;
}

.footer .footer_input form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer .footer_input form a i {
  background: var(--primary);
  color: var(--light);
  padding: 1rem;
  border-radius: 5rem;
  transform: translateX(-5rem);
}

.footer .footer_input input {
  width: 40rem;
  padding: 1.5rem 5rem 1.5rem 2rem;
  border-radius: 5rem;
  border: none;
  background: var(--gray);
  color: var(--light);
}

.footer .footer_input input::placeholder {
  color: var(--light);
}

.footer .footer_input input:focus {
  outline: none;
  border: none;
}

.footer .footer_text h6,
.footer .footer_text p {
  color: var(--light);
  max-width: 25rem;
  text-align: right;
}

.footer .footer_text h4 {
  color: var(--primary);
  font-size: 3rem;
  font-weight: bold;
  text-align: right;
  margin: 1rem 0 1rem 0;
}

.footer .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.footer .footer_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.footer .footer_nav a {
  color: var(--light);
  font-weight: bold;
  transition: 0.5s ease;
}

.footer .footer_nav a:hover {
  color: var(--primary);
  transition: 0.5s ease;
  text-decoration: underline;
}

.footer .footer_social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.footer .footer_social i {
  display: flex;
  justify-content: center;
  background: var(--primary);
  color: var(--light);
  padding: 2rem;
  width:1.5rem;
  border-radius: 10rem;
  transition: 0.5s ease;
}

.footer .footer_social i:hover{
  color: var(--primary);
  background: transparent;
  border: 1px solid var(--primary);
  transition: 0.5s ease;
  cursor: pointer;
  padding: 2rem;
  width:1.5rem;
  border-radius: 10rem;
}

@media screen and (max-width: 500px){
  .footer .footer_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.footer .footer_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .footer .footer_text h6{
    align-self: center;
    text-align: center;
  }

  .footer .footer_input form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
  }

  .footer .footer_input input{
    width: 100%;
  }

  .footer .footer_input form a i{
    transform: translateX(-5rem);
}

  .footer .nav{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer .footer_nav{
    display: flex;
    justify-content: center;
  }

  .footer .footer_social{
    display: flex;
    justify-content: center;
  }
}

/* ---------------------------repeatable pattern--------------------------- */
:root {
  --dark: #120f0a;
  --light: #fff;
  --primary: #ffa700;
  --gray: #312d26;
  --brown: #262016;
}

.btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  border: 1px solid var(--dark);
  background-color: var(--primary);
  color: var(--light);
  transition: 0.5s ease;
}

.btn:hover {
  background-color: transparent;
  color: var(--light);
  border: 1px solid var(--primary);
  scale: 1.1;
  transition: 0.5s ease;
}

.btn.bg-primary {
  background-color: var(--primary);
  color: var(--light);
}

@media screen and (max-width:500px){
  .btn{
    width: 80% !important;
    text-align: center !important; 
    margin: 0 auto !important;
  }
}
